* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;;
}

body {
    background: #f6cae4;
    color: #333;
}


header {
    background: #7c50c2;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav {
    background: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    gap: 20px;
}

.posts {
    flex: 3;
}

.post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-bottom: 10px;
    color: #4f46e5;
}

.post p {
    margin-bottom: 10px;
}

.sidebar {
    flex: 1;
}

.widget {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: #7c50c2;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

/*artigos*/

.lista-pdf {
    list-style: none;
    padding: 0;
}

.lista-pdf li {
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lista-pdf a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.lista-pdf a:hover {
    text-decoration: underline;
}

h2 {
  
    color: #1800ad;
}

.lista-pdf {
    background: #f6cae4;
    padding: 15px;
    border-radius: 10px;
}

#links {
    background-color: white;
}


header {
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 400px;
}

.animacao {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

/* TÍTULO */
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  text-align: center;
}

.titulo img {
  width: 30px;
  height: auto;
}

/* CONTAINER TOPO */
.topo {
  display: flex;
  flex-direction: column; /* empilha botão + título */
  align-items: center;    /* centraliza o título */
}

/* BOTÃO VOLTAR */
.btn-voltar {
  align-self: flex-start; /* esquerda */
  width: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-voltar:hover {
  transform: scale(1.1);
}


/*COMENT´RIOS*/
.comentarios-box {
  max-width: 600px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.novo-comentario textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
}

.comentario {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usuario img {
  width: 35px;
  border-radius: 50%;
}

.acoes {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.respostas {
  margin-left: 40px;
  margin-top: 10px;
}

.usuario-logado {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.usuario-logado img {
  width: 35px;
  border-radius: 50%;
}


.google-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #408ffc;
  border: 1px solid #dadce0;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: white;
  transition: 0.2s;
}

.google-btn img {
  width: 18px;
}

.google-btn:hover {
  background: #f7f8f8;
}

.btn-like {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #555;
}

.icone-like {
  display: inline-block;
  transform: translateY(-1px);
  color: #1800ad;
  transition: 0.2s;
}

.btn-like:hover .icone-like {
  transform: scale(1.2);
}

textarea {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 5px;
}

.linkcoment a {
    color:#1800ad
}

.linkcoment a:hover {
  color: #12008a;
}

.btn-enviar {
   color: white;
  background-color: #1800ad;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.2s;

}

.btn-enviar:hover {
  background-color: #12008a; /* um pouco mais escuro */
  transform: scale(1.05);
}

.icone {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

#lista {
    background-color: #dadce0;
}